@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  /* Base backgrounds */
  --bg-main: #0e1415;
  --bg-sidebar: #0b1011;

  /* Card */
  --bg-card: rgba(24, 64, 61, 0.45);

  /* Accents */
  --color-accent: #2ef2c5;

  /* Text */
  --text-primary: #e6f5f3;
  --text-secondary: #8fafb0;
  --text-muted: #6e8f8e;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right bottom,
    #153231,
    #13292f,
    #162028,
    #16181e,
    #120f13,
    #120f13,
    #120f13,
    #120f13,
    #16181e,
    #162028,
    #13292f,
    #153231
  );
}
